[submodule "charlesFrontEnd"]
	path = charlesFrontEnd
	url = https://github.com/jcaquino0945/charlesFrontEnd.git
[submodule "charlesBackEnd"]
	path = charlesBackEnd
	url = https://github.com/jcaquino0945/charlesBackEnd
